<%= render "shared/top_header" %>

<div class='main'>
  <div class='top-contents'>
    <div class="catchcopy">
    <h1 class='concept'>
      さぁ 羽を追いかけよう
    </h1>
    <p class="sub-concept">自分に合ったサークルがきっと見つかる</p>
    </div>
    <div class="top-link-wrap">
      <div class="top-link-left">
        <% if user_signed_in? && current_user.club.present? %>
          <%= link_to club_path(current_user.club), class: "link" do%>
            <div class="alter-center">
              <i class="fas fa-users"></i>
              <span class="top-link-btn">運営サークル</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_club_path, class: "link" do%>
            <div class="alter-center">
              <i class="fas fa-users"></i>
              <span class="top-link-btn">メンバー募集</span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="top-link-right">
        <%= link_to search_clubs_path, class: "link" do%>
          <div class="alter-center">
            <i class="fas fa-search"></i>
            <span class="top-link-btn">サークル検索</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>