  <div class='modal__content'>
    <div class='close-btn'>
      <%= link_to "#", class: "level-modal-close room-link" do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <div class='form-header'>
      <h1 class='form-header-text'>
        経験レベル目安
      </h1>
    </div>
    <ul class="level-information">
      <li class="level-text">Level 1：経験なし</li>
      <li class="level-text">Level 2：基礎打ちができる</li>
      <li class="level-text">Level 3：試合ができる</li>
      <li class="level-text">Level 4：素早いラリーができる</li>
      <li class="level-text">Level 5：大会で実績がある</li>
    </ul>
  </div>