<%if message.user_id == current_user.id%>
  <div class="mycomment">
    <p><%=message.content%></p>
  </div>
<%else%>
  <div class="fukidasi">
    <div class="chatting">
      <div class="says">
        <p><%=message.content%></p>
      </div>
    </div>
  </div>
<%end%>
