<div class="side-top">
      <div class="user-name">
        <%= link_to current_user.nickname, "#" %>
      </div>
      <div class="new-chat">
        <%= link_to 'チャットを作成する', "#"%>
      </div>
    </div>
    <div class="side-bottom">
      <div class="chat-rooms">
        <div class="chat-room">
          <%# current_user.rooms.each do |room| %>
          <%#= link_to room.name, "#" %>
           <%# end %>
        </div>
      </div>
    </div>