<%= link_to club_likes_path(club), method: :post, class: "link", remote: true do %>
  <div class='favorite-button'>
    <i class="far fa-heart"></i>
    <span><%= club.likes.count%></span>
  </div>
<% end %>