.top-contents {
  height: 100vh;
  width: 100%;
  background-image: image-url('concept.jpg');
  background-position: 50% 40%;
  background-attachment: fixed;
  opacity: 1;
  background-size: cover;
  text-align: center;
}

.concept {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px;
}

.sub-concept {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.top-link-wrap {
  display: flex;
  justify-content: center;
}

.top-link-left {
  opacity: 0.7;
  text-decoration: none;
  margin: 33px 30px 13px;
  padding: 5px 15px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 10px;
  border: 2px solid #b84c00;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-link-left:hover {
  opacity: 1;
}

.top-link-right {
  opacity: 0.7;
  text-decoration: none;
  margin: 33px 30px 13px;
  padding: 5px 15px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 10px;
  border: 2px solid #b84c00;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-link-right:hover {
  opacity: 1;
}

.alter-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-users {
  color: #fff;
}

.fa-search {
  color: #fff;
}

.top-link-btn {
  color: #fff;
}