
.search-form-header {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.search-place-title {
  padding: 10px 10px 0;
}

.search-place {
  padding: 10px;
}

.search-form {
  display: flex;
  padding: 0 auto;
  justify-content: start;
  align-items: center;
}

.select-text {
  color: whitesmoke;
  font-size: 13px;
}

.select-box-top {
  width: 100px;
  height: 35px;
}

.city-lists-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.city-list {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.city-lists-content input[type=checkbox]:hover {
  border-color: #0171bd;
}

.search-btn {
  padding: 5px 15px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 10px;
  border: 2px solid #b84c00;
  cursor: pointer;
}
.search-btn:hover {
  color: #fff;
  background: #f56500;
}

.city-accordion-label {
  margin-left: 10px;
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.city-accordion-label:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

.city-accordion {
  display: none;
}

.city-accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.search-accordion-label {
  padding: 0 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.search-accordion-label-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  font-weight: bold;
  color: #0171bd;
}

.date-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.fa-calendar-alt {
  margin-right: 5px;
}

.hover-action:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

.search-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-sort:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

.fa-sliders-h {
  margin-right: 5px;
}

.fa-angle-down {
  margin-left: 10px;
  transform: rotate(0deg); 
  transition: transform .3s;
}

.rotate {
  transform: rotate(180deg); 
  transition: transform .3s;
}

.date-accordion {
  display: none;
}

.date-accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.search-accordion {
  display: none;
}

.search-accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.search-club-contents {
  background-color: whitesmoke;
}

.search-club-content-title {
  text-align: center;
  padding-top: 15px;
  height: 70px;
  background-color: rgb(235, 184, 150);
  font-size: 25px;
  font-weight: bold;
}

.place-tag {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.fa-chevron-right {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-ellipsis-h {
  margin-left: 5px;
}

.search-club-lists {
  margin: 25px 20px 30px;
  padding-bottom: 35px;
}

.search-list {
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}

.search-club-content-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.search-club-status {
  position: absolute;
  top: 0;
  right: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
}

.status-ribbon {
  display: inline-block;
  position: absolute;
  padding: 5px 0;
  left: -24px;
  top: 20px;
  width: 160px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.05em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.orange {
  font-size: 18px;
  background: #db7445;
  box-shadow: 0 0 0 2px #db7445;
}

.gray {
  font-size: 14px;
  background: #808080;
  box-shadow: 0 0 0 2px #808080;
}

.search-club-content-left {
  width: 250px;
  height: 100%;
}

.search-club-image-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-club-image {
  width: 90%;
  height: 90%;
}

.search-club-content-right {
  padding: 5px 0 5px;
  width: calc(100% - 250px);
}

.search-club-content-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-club-name {
  font-size: 23px;
}

.search-club-place {
  display: flex;
  justify-content: start;
  align-items: center;
}

.fa-map-marker-alt {
  margin-right: 8px;
  width: 13px;
}

.search-club-time {
  display: flex;
  justify-content: start;
  align-items: center;
}

.fa-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.search-club-content-right-bottom {
  padding-top: 3px;
  height: calc(100% - 100px);
}






.search-club-icon {
  display: flex;
  justify-content: flex-end;
}

.updated-data {
  margin-right: 10px;
}

.like-button{
  margin-right: 8px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.favorite-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.3vw;
}

.link {
  text-decoration: none;
  width: 100%;
  color: rgb(51, 48, 48);
}

.no-result-text {
  padding: 30px;
  text-align: center;
}

.club-link {
  text-decoration: none;
  color: rgb(51, 48, 48);
}