.club-show-wrap {
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.club-show-content {
  width: 80%;
  background-color: white;
}

.club-show-top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 30px 0;
}

.club-show-date {
  font-size: 13px;
  margin: 15px;
  width: 20%;
}

.club-show-content-title {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

.club-show-content-status {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  font-size: 17px;
}


.slider {
  display: flex;
  justify-content: center;
  background-color: rgb(223, 221, 221);
}

.club-show-image {
  margin: 20px auto;
  max-width: 90%;
  max-height: 90%;
}

.show-detail-label {
  margin: 50px 0;
  width: 100%;
  height: 8vh;
  background-color: salmon;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-show-detail {
  display: flex;
  justify-content: center;
}

.club-show-detail-table {
  margin: 30px 0;
  width: 85%;
}

.club-show-detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.club-show-detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.club-show-information {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.club-show-information-label {
  font-size: 18px;
  color: salmon;
  font-weight: bold;
  text-align: center;
  margin: 0 0 30px;
}

.club-show-information-text {
  text-align: center;
  width: 60%;
  font-size: 16px;
  margin-bottom: 30px;
}

.club-show-contact-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 150px 0 50px;
}

.club-show-contact {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
}

.like-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-btn-fake {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-show-like {
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-contact-link {
  text-decoration: none;
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  border: 2px solid #30e852;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.mail-contact-link {
  text-decoration: none;
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

//modal//
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #f5f5f5;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  border-radius: 3px;
}