.side-contents {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-top {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.new-chat a {
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bottom {
  background-color: #2f3e51;
  height: calc( 100vh - 100px );
  padding: 0 20px;
  overflow: scroll;
}

.chat-room {
  padding: 20px 0 40px;
}

.chat-room a {
  color: white;
  text-decoration: none;
}