th.fc-day-sat {
  background-color: #eaf4ff; 
} 

th.fc-day-sun {
  background-color: #ffeaea;
} 

#event_start_1i {
  width: 250px;
}

#event_start_2i {
  width: 250px;
}

#event_start_3i {
  width: 250px;
}

#event_start_4i {
  width: 250px;
}

#event_start_5i {
  width: 250px;
}

#event_end_1i {
  width: 250px;
}

#event_end_2i {
  width: 250px;
}

#event_end_3i {
  width: 250px;
}

#event_end_4i {
  width: 250px;
}

#event_end_5i {
  width: 250px;
}