<%= render "shared/header" %>

<div class='room-registration-main'>
  <div class='room-form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        チャットで問い合わせる
      </h1>
    </div>
    <div class="room-start-text">
    <%= "#{@club.name}の運営者にチャットで質問や相談をしてみましょう"%>
    </div>

    <div class="btn-content-wrap">
      <div class="btn-content">
        <div class='chat-start-btn'>
        <%= link_to rooms_path(user_id: params[:user_id], club_id: params[:club_id]), method: :post do %>
          <span class="chat-start-btn-text">チャットを始める</span>
        <% end %>
        </div>
        <div class='back-btn'>
        <%= link_to club_path(params[:club_id]) do %>
          <span class="back-btn-text">戻る</span>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>